@CHARSET "UTF-8";

.Header {
    z-index: 1;
    padding-top: 12px;
    padding-bottom: 12px;
    color: rgba(255,255,255,0.75);
    background-color: #24292e;
}

.container-lg {
    max-width: 1012px;
    margin-right: auto;
    margin-left: auto;
}

.d-lg-flex {
    display: -webkit-box !important;
    display: flex !important;
}

.p-responsive {
    padding-right: 16px !important;
    padding-left: 16px !important;
}

.page-responsive .HeaderMenu {
    display: block;
    clear: none;
}

.flex-auto {
    -webkit-box-flex: 1 !important;
    flex: 1 1 auto !important;
}

.flex-justify-between {
    -webkit-box-pack: justify !important;
        -moz-box-pack: justify;
    justify-content: space-between !important;
}

* {
    box-sizing: border-box;
}

.mt-lg-0 {
    margin-top: 0 !important;
}



.mt-3 {
    margin-top: 16px !important;
}

.list-style-none {
    list-style: none !important;
}

.ml-lg-2 {
    margin-left: 8px !important;
}

.ml-lg-4 {
    margin-left: 24px !important;
}

.d-flex {
    display: -webkit-box !important;
    display: flex !important;
}

.flex-items-center {
    -webkit-box-align: center !important;
    align-items: center !important;
}

.header-logo-invertocat .octicon-mark-liuxl {
    float: left;
}

svg:not(:root) {
    overflow: hidden;
}

.octicon {
    display: inline-block;
    vertical-align: text-top;
    fill: currentColor;
}